

/* Desktop Header ---------- */

section {
  height: 100vh;
}

.mainPage {
  background: url(../../assets/cofee1.jpeg);
  background-repeat: no-repeat;
  background-position: 25% 25%;
  /* background-attachment: fixed; */
  background-size: initial;
}

.mainPage header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 72px;
  padding: 4px 0;
  border-bottom: .1px solid rgba(255, 255, 255, 0.119);
}

.logoWrapper {
  color: white;
  width: 200px;
  height: 50px;
  padding: 0;
}

.logoWrapper img {
  width: 100%;
  height: 100%;
}

.mainPage nav {
  color: white;
  font-weight: 100;
  font-size: 1.125rem;
  margin-bottom: -20px; /* alinhar com o logo */
 
  display: flex;
  gap: 32px;
}

nav .action {
  color: hsl(35, 100%, 50%);;
}

/* Desktop Header ---------- */

/* intro page  ---------- */

.mainPage .gg-menu-motion {
  display: none;
  color: white;
}

.intro-chunk-wrapper {
  height: 80%;
  padding-left: 72px;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  
}

.title {
  color: white;
  font-size: 3rem;
  max-width: 400px;
}

.description {
  color: rgba(255, 255, 255, 0.756);
  font-family: 'Lora', serif;
  line-height: 1.5;
}

.cta {
  width: fit-content;
  padding: 12px 20px;
  margin-top: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.900rem;
  text-transform: uppercase;

  background: rgb(244, 136, 21);
  color: white;

  cursor: pointer;
}

/* intro page  ---------- */

/* about us page  ---------- */
  .about-us {
    background: url(../../assets/coffe-beans-2.jpeg);
    filter: grayscale(50%);
  }

  .card-wrapper {
    display: flex;
    flex-wrap: wrap; /* Deconstructed pancake layout */
    justify-content: center; 
    align-items: center;

    height: 100%;
    padding: 20px;
    gap: 20px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    flex: 0 1 350px; /* Deconstructed pancake layout */

    height: 400px;
    background-color: hsl(18, 80%, 15%);
    border-radius: 16px;

    padding: 16px;
  }

  .card-img img {
    width: 150px;
    height: 150px;
    border: 3px solid #747171;
    border-radius: 50%;
  }

  .card h1 {
    color: hsl(0, 50%, 85%);
    font-weight: 400;
    font-size: 1.5rem;
  }

  .card p {
    text-align: center;
    color: rgba(255, 255, 255, 0.564);
    font-family: 'Lora', serif;
  }


  
/* about us page  ---------- */


/* responsive header and main page  ---------- */

@media (max-width: 1130px) {
  .about-us {
    height: 100%;
  }
}

@media (max-width: 650px) {
  .mainPage .gg-menu-motion {
    display: block;
  }

  .mainPage nav {
    display: none;
  }

  .mainPage {
    background-position: 35% 30%;
  }

  .intro-chunk-wrapper {
    align-items: center;
    max-width: 100%;
    padding-right: 32px;
    padding-left: 32px;
  }

  .title,
  .description {
    max-width: 300px;
    text-align: center;
  }
}