/* Header style ------------------------------------------------ */

main{
  position: relative;
}

.main-header {
  padding: 8px 32px;
  padding-bottom: 14px;
  border-bottom: 1px solid hsl(190deg, 5%, 80%);

  display: flex;
  align-items: baseline;
  margin: auto;
  position: relative;
}

.logo-wrapper {
  width: 160px; /* ajustar logo */
  height: 50px;
}

.logo-wrapper img {
  width: 100%;
  height: 100%;
  margin-bottom: -8px;
}

.nav-links {
  display: flex;
  gap: 48px;
  margin-left: 48px; /* avoid logo collapsing with nav */
}

.nav-links a {
  color: hsl(220deg, 3%, 20%);
  font-size: 1.25rem;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.nav-link::after, /* Animation on hover. Specifity problem to solv */
.active-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: hsl(220deg, 3%, 20%);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}


.nav-link:hover::after, /* Animation on hover. Specifity problem to solv */
.active-link:hover::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}


.nav-links > .active-link { 
  color: hsl(35, 100%, 40%);
}

.main-header .gg-menu-motion {
  display: none;
}

.side { /* usado para alinhar nav-links no centro da página */
  flex: 1;
}

/* Header style ------------------------------------------------ */


/* Main style ------------------------------------------------ */


.main-wrapper {
  height: 88vh;
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: center ;

  padding: 40px;
}

.img-wrapper {
  flex: 1;
  flex-basis: 0px;
  min-width: 400px;
  max-width: 400px;
}

.img-wrapper img {
  width: 100%;
  border-radius: 10px 10px 8px 8px;
}

.product-infos-wrapper {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 400px;
}

.product-type {
  font-size: 0.8rem;
  color: hsl(35, 100%, 40%);
}

.product-description {
  margin-top: 16px;
  margin-bottom: 32px;
  font-family: 'Lora', serif;
  color: hsl(196deg, 4%, 50%);
}

.price {
  font-family: 'Lora', serif;
  font-weight: 600;
  color: hsl(220deg, 5%, 40%);
  font-size: 1rem;
  margin-right: 8px;
}

.actions {
  margin-top: 32px;
}

.descount {
  color:hsl(220deg, 5%, 40%);
  text-decoration: line-through;
  text-decoration-color: hsl(196deg, 4%, 60%);
}

.promo-price {
  color: hsl(340deg, 65%, 47%);
}

input {
  text-align: center;
  padding: 13px 32px;
  border: none;
  background-color: hsl(185deg, 5%, 95%);
  border-radius: 4px;
  margin-right: 2px;
}

.cta {
  width: fit-content;
  padding: 12px 20px;
  margin-top: 16px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.900rem;
  text-transform: uppercase;

  background: hsl(31, 91%, 52%);
  color: white;

  cursor: pointer;
  transition: all .2s ease-in-out; /* Animation to grow when hover */
}

.cta:hover {
  opacity: 0.9;
  transform: scale(1.1); 
}

.return-wrapper {
  position: absolute;
  top: 10px;
  left: 20px;
}

.return {
  display: flex;
  align-items: center;
  gap: 6px;
}

.return a {
  color: hsl(196deg, 4%, 50%);
}


/* Main style ------------------------------------------------ */


/* Responsive style ------------------------------------------------ */

@media (max-width: 1070px) {
  .nav-links {
    gap: 32px;
  }

  .nav-links a {
    font-size: 1rem;
  }

}

@media (max-width: 890px) {

  .main-header {
    justify-content: space-between;
  }
  
  .nav-links {
    display: none;
  }
  
  .side:last-of-type { /*spacer component with flex: 1*/
    display: none;
  }

  .main-header .gg-menu-motion {
    display: block;
  }

  .main-header .gg-menu-motion { /* especifity problem */
    display: block;
    margin-bottom: -10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
  }

  .gg-menu-motion:hover {
    transform: scale(1.3);
  }

  .spacer {
    margin-bottom: 16px;
  }

  .main-wrapper {
    height: 100%;
    flex-direction: column;
  }

  .product-infos-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
  }

  .product-description {
    text-align: center;
  }

}

@media (max-width: 440px) {
  .img-wrapper {
    min-width: 300px;
    max-width: 300px;
  }
  
}

/* Responsive style ------------------------------------------------ */

