/* super Header style ---------------- */

.super-header {
  height: 40px; /* We could use padding */
  padding-left: 22px;
  padding-right: 22px;
  color: hsl(190deg, 5%, 80%);
  font-family: 'Lora', serif;
  font-size: 0.9rem;
  background-color: hsl(18, 80%, 15%);

  display: flex;
  align-items: center;
  gap: 30px;
}

.marketing-message {
  margin-right: auto ; /* distanciar elementos */
}

.super-header label {
  position: relative; /* position container para icon */
  color: hsla(0, 6%, 80%, 0.571);
}

.input-search {
  border: none;
  background: transparent;
  border-bottom: 1px solid hsla(0, 6%, 80%, 0.571);
  padding-left: 24px;
  color: hsl(185deg, 5%, 80%);
  outline-offset: 4px; /* Quando foco estiver ativo */
  padding-bottom: 4px;
}

.input-search::placeholder {
  color: hsla(0, 6%, 80%, 0.571);
  font-size: 0.800rem;
  padding-left: 4px;
}


.gg-search { /* CSS Icons ----- */
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(var(--ggs,1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-top: -3px;
}
.gg-search::after { /* CSS Icons ----- */
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px
}

.gg-shopping-cart { /* CSS Icons ----- */
  color: rgba(201, 206, 207, 0.66);
}

/* super Header style ---------------- */

/* Main Header Style ---------------- */

.main-header {
  padding: 20px 32px;
  border-bottom: 1px solid hsl(190deg, 5%, 80%);

  display: flex;
}

.logo-wrapper {
  width: 150px; /* ajustar logo */
  height: 44px;
}

.logo-wrapper img {
  width: 100%;
  height: 100%;
}

.main-header nav {

}

.nav-links a {
  color: hsl(220deg, 3%, 20%);
  font-size: 1.125rem;
  text-transform: uppercase;
  text-decoration: none;
}


/* Main Header Style ---------------- */