/* super Header style ------------------------------------------------------------------------------------- */

.super-header {
  height: 40px; /* We could use padding */
  padding-left: 22px;
  padding-right: 22px;
  color: hsl(190deg, 5%, 80%);
  font-family: 'Lora', serif;
  font-size: 0.9rem;
  background-color: hsl(18, 80%, 15%);

  display: flex;
  align-items: center;
  gap: 30px;
}

.marketing-message {
  margin-right: auto ; /* distanciar elementos */
}

.super-header label {
  position: relative; /* position container para icon */
  color: hsla(0, 6%, 80%, 0.571);
}

.input-search {
  border: none;
  background: transparent;
  border-bottom: 1px solid hsla(0, 6%, 80%, 0.571);
  padding-left: 24px;
  color: hsl(185deg, 5%, 80%);
  outline-offset: 4px; /* Quando foco estiver ativo */
  padding-bottom: 4px;
}

.input-search::placeholder {
  color: hsla(0, 6%, 80%, 0.571);
  font-size: 0.800rem;
  padding-left: 4px;
}


.gg-search { /* CSS Icons ----- */
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(var(--ggs,1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-top: -3px;
}
.gg-search::after { /* CSS Icons ----- */
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px
}

.gg-shopping-cart { /* CSS Icons ----- */
  color: rgba(201, 206, 207, 0.66);
}

/* super Header style ------------------------------------------------------------------------------------ */

/* Main Header Style ------------------------------------------------------------------------------------- */

.main-header {
  padding: 8px 32px;
  padding-bottom: 14px;
  border-bottom: 1px solid hsl(190deg, 5%, 80%);

  display: flex;
  align-items: baseline;
  margin: auto;
}

.logo-wrapper {
  width: 160px; /* ajustar logo */
  height: 50px;
}

.logo-wrapper img {
  width: 100%;
  height: 100%;
  margin-bottom: -8px;
}

.nav-links {
  display: flex;
  gap: 48px;
  margin-left: 48px; /* avoid logo collapsing with nav */
}

.nav-links a {
  color: hsl(220deg, 3%, 20%);
  font-size: 1.25rem;
  text-transform: uppercase;
  text-decoration: none;
}

.side {
  flex: 1; /* usado para alinhar nav-links no centro da página */
}

/* Main Header Style ------------------------------------------------------------------------------------- */


/* Main products grid Style ------------------------------------------------------------------------------------- */

.main-content {
  display: flex; /* side nav e product-list */
  padding: 64px 32px;
  padding-left: 40px;
  align-items: baseline;
}

.side-nav {
  display: flex; /* breadcrumb e filtros */
  flex-direction: column;
  flex-basis: 248px;
}

.spacer {
  margin-bottom: 42px;
}

.breadcrumb {
  color: hsl(196deg, 4%, 60%);
  font-size: 0.875rem;
}

.breadcrumb:not(:first-of-type) {
  margin-left: 8px;
}

.breadcrumb:not(:first-of-type)::before {
  content: '/';
  margin-right: 8px;
  color: hsl(190deg, 5%, 80%);
}

.filter-list {
  display: flex; /* filtros */
  flex-direction: column;
  align-items: flex-start;
}

.filter-list a {
  color: hsl(220deg, 5%, 40%);
  font-weight: 600;
}
/* Card product Style ------------------------------------------------------------------------------------- */

.product-list {
  display: flex; /* título e products-wrapper */
  flex-direction: column;
  flex: 1;
}
.products-wrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;
  flex-wrap: wrap;
  flex: 1; /* para que ocupe o espaço disponível */
}

.product-card {
  flex: 1; /* para que ocupe o espaço disponível */
  flex-basis: 275px; /* Para que ocorra quebra de linha */
}

.img-wrapper img {
  width: 100%;
  border-radius: 16px;
}




/* Card product Style ------------------------------------------------------------------------------------- */




